<footer class="footer mt-auto py-3">

	<div class="container">
		<div class="row py-2">
			<div class="bontri col-5">
				<p>&copy; Le Bon Tri 2020</p>

			</div>

			<div class="icon col-6 offset-1">
				<ul class="icons fa-sm mx-1 d-flex justify-content-end">

					<li class="pl-2">
						<a href="{{ path('app_rgpd') }}" class="fa fa-lock"></a>
					</li>
					<li class="pl-2">
						<a href="#" class="fa fa-twitter "></a>
					</li>
					<li class="pl-2">
						<a href="#" class="fa fa-facebook"></a>
					</li>
					<li class="pl-2">
						<a href="#" class="fa fa-instagram"></a>
					</li>
					<li class="pl-2">
						<a href="#" class="fa fa-envelope-o"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>