<footer	class="container-fluid">


	<div class="row py-2">
		<div class="bontri col-5 offset-1">
			<p>&copy; Le Bon Tri 2020</p>
			
		</div>

		{# <div class="rgpd col-3">
					<a href="{{ path('app_rgpd') }}"><img src="{{ asset('/assets/img/rgpdrond.png') }}"></a>
					</div> #}

		<div class="icon col-6">
			<ul class="icons fa-sm mx-1">

				<li>
					<a href="{{ path('app_rgpd') }}" class="fa fa-lock"></a>
				</li>
				<li>
					<a href="#" class="fa fa-twitter "></a>
				</li>
				<li>
					<a href="#" class="fa fa-facebook"></a>
				</li>
				<li>
					<a href="#" class="fa fa-instagram"></a>
				</li>
				<li>
					<a href="#" class="fa fa-envelope-o"></a>
				</li>
			</ul>
		</div>
	</div>
	
</footer>
