<hr>
<footer class="container-fluid my-5">
	<div class="row">
		<div class="col-6 mt-2">
			<p>&copy; Le Bon Tri 2020</p>
		</div>

		<div class="col-6 mt-2">
			<ul class="icons">

				<li>
					<a href="#" class="fa fa-twitter fa-lg mx-2"></a>
				</li>
				<li>
					<a href="#" class="fa fa-facebook fa-lg mx-2"></a>
				</li>
				<li>
					<a href="#" class="fa fa-instagram fa-lg mx-2"></a>
				</li>
				<li>
					<a href="#" class="fa fa-envelope-o fa-lg mx-2"></a>
				</li>
			</ul>
		</div>
	</div>
</footer>
