<footer
	class="container-fluid text-center">

	{# <div class="container"> #}
	<div class="row py-2">
		<div class="col-4">
			<p>&copy; Le Bon Tri 2020</p>
			
		</div>

		<div class="col-3 text-center">
					<a href="#"><img src="{{ asset('/assets/img/rgpdrect.jpg') }}"></a>
					</div>

		<div class="col-5">
			<ul class="icons">
			
				<li>
					<a href="#" class="fa fa-twitter fa-lg mx-1"></a>
				</li>
				<li>
					<a href="#" class="fa fa-facebook fa-lg mx-1"></a>
				</li>
				<li>
					<a href="#" class="fa fa-instagram fa-lg mx-1"></a>
				</li>
				<li>
					<a href="#" class="fa fa-envelope-o fa-lg mx-1"></a>
				</li>
			</ul>
		</div>
	</div>
	{# </div> #}
</footer>
