{% extends 'base.html.twig' %}

{% block body %}
	{% include "flash_messages.html.twig" %}

	<section id="presentation" class="container-fluid pt-3 pt-md-5">
		<div class="container">
			<div class="row justify-content-center">

				<header class="pres col-md-8 offset-md-2 text-center pb-3 mx-0">
					{# {% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %} #}
					<h1 class="titre pb-2 pt-3">Bien trier dans<br> le Grand Lyon!</h1>
				</header>


				<div>
					<div class="row my-5 justify-content-center">

						<form class="search d-flex justify-content-center" action="{{ path('app_search') }}" method="get">

								<input type="text" name="objetName" id="provider-remote" class="searchTerm" placeholder="Entrez l'article à recycler!">
								<button type="submit" class="searchButton fa fa-search btn btn-success ">
								</button>

						</form>

					</div>

					<div class="newobjet py-2 my-5 text-center">
						<p>
							Vous ne trouvez pas l'objet que vous recherchez?</p>
						<a href="{{ path('objet_new') }}" ><button type="submit" class="add btn btn-success btn-xl">Ajoutez le!</button></a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
