{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<section id="presentation" class="container-fluid pt-3 pt-md-5">
			<div class="container">
				<div class="row">
					<header class="col-12 text-center pb-3">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
						<h1 class="pb-4">L'appli pour trier comme il faut</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, aliquid iusto, animi similique fugit voluptate laborum dicta ullam itaque cumque blanditiis repellat. Itaque quas sapiente eius a esse fuga consequatur?</p>
					</header>

					<form action="{{ path('app_search') }}" method="get">
						<div class="wrap">
							<div class="search">

								<input type="text" name="objetName" id="provider-remote" class="searchTerm" placeholder="Entrez l'article à recycler!">
								<button
									type="submit" class="searchButton fa fa-search">{#<a class="fa fa-search" href="{{ path('app_search') }}"></a>#}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</section>

	</main>
{% endblock %}
