{% extends 'base.html.twig' %}

{% block title %}RGPD
{% endblock %}

{% block body %}
	<h1>Politique de confidentialité</h1>

	<div>
		<h2>Introduction</h2>
		<p>Dans le cadre de son activité, la société Le Bon Tri, dont le siège social est situé au 30 Louis Loucheur, 69009 LYON, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". Le Bon Tri attache une grande importance au respect de la vie privée, et n’utilise que des données de manière responsable et confidentielle et dans une finalité précise.</p>
		<h2>Données personnelles</h2>
		<p>Sur le site web "lebontri.com" , il y a 2 types de données susceptibles d’être recueillies :</p>
		<ul>
			<li>
				<H3>Les données transmises directement</H3>
				<p>Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par contact direct par email. Ce cas ne se présente pas sur notre site</p>
			</li>
			<li>
				<H3>Les données collectées automatiquement</H3>
				<p>Ces informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie. Nous n'utilisons pas de cookie</p>
			</li>
		</ul>
		<h2>Utilisation des données</h2>
		<p>Aucune donnée collectée, donc pas d'utilisation.
		<h2>Base légale</h2>
		<p>Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Si nous collections vos données, nous recueillerons ce consentement de manière valable (par des boutons et cases à cocher), libre, claire et sans équivoque.</p>
		<h2>Durée de conservation</h2>
		<p>Aucune donnée conservées</p>
		<h2>Cookies</h2>
		<p>Aucun cookies utilisés
		<h2>Vos droits concernant les données personnelles</h2>
		<p>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données. Sans enrgistrement de donnés, vous ne pourrez rien consulter vous concernant sur ce site</p>
		<h2>Contact délégué à la protection des données</h2>
		<p>Administrateur du site</p>
	</div>
{% endblock %}
