{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.css" />
	<link rel="stylesheet" href="{{ asset('/assets/css/stylesMap.css') }}">
{% endblock %}


{% block body %}
	<main>
		<section id="localisation_container">
			<div id="buttons" class="btn-group">
				<button type="button" id="all" class="btn btn-success m-1">Tous</button>
				<button type="button" id="remove" class="btn btn-success m-1">Aucun</button>
				<!-- Les boutons seront générés automatiquement -->
			</div>

			<div id="map"></div>

		</section>

	</main>
{% endblock %}

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js"></script>
    <script src="{{ asset('/assets/js/scriptsMap.js') }}"></script>
{% endblock %}
