{% extends 'base.html.twig' %}

{% block title %}Mettre à jour ce matériau
{% endblock %}

{% block body %}
	<h1>Mettre à jour ce matériau</h1>

	{{ include('material/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	<br>
	{{ include('material/_delete_form.html.twig') }}
	<div class="row justify-content-center">
		<a href="{{ path('material_index') }}">
			<button class="btn">Liste des matériaux</button>
		</a>
	</div>

{% endblock %}
