{% extends 'base.html.twig' %}

{% block title %}Mettre à jour cet usage
{% endblock %}

{% block body %}
	<h1>Mettre à jour cet usage</h1>

	{{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('category_index') }}">Retour à la liste des usages</a>
	<a href="#">Retour à la page de gestion de la BDD</a>
	<a href="{{ path('app_index') }}">Retour à l'accueil</a>

	{{ include('category/_delete_form.html.twig') }}
{% endblock %}
