{% extends 'base.html.twig' %}

{% block title %}Mettre à jour cet usage
{% endblock %}

{% block body %}
	<h1>Mettre à jour cet usage</h1>

	{{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	{{ include('category/_delete_form.html.twig') }}
	<br>
	<div class="text-center">
		<a href="{{ path('category_index') }}">
			<button class="btn">Retour à la liste des usages</button>
		</a>

		<a href="{{ path('app_index') }}">
			<button class="btn">Retour à l'accueil</button>
		</a>
	</div>

{% endblock %}
