{% extends 'base.html.twig' %}

{% block title %}Ajouter un usage
{% endblock %}

{% block body %}
	<h1>Ajouter un usage</h1>

	{{ include('category/_form.html.twig') }}
	<div class="text-center">
		<a href="{{ path('category_index') }}">
			<button class="btn btn-success">Retour à la liste des usages</button>
		</a>
		<a href="{{ path('app_index') }}">
			<button class="btn btn-success" style="margin-left:30px">Retour à l'accueil</button>
		</a>
	</div>
{% endblock %}
