{% extends 'base.html.twig' %}

{% block title %}Edit CollectionPoint{% endblock %}

{% block body %}
    <h1>Edit CollectionPoint</h1>

    {{ include('collection_point/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collection_point_index') }}">back to list</a>

    {{ include('collection_point/_delete_form.html.twig') }}
{% endblock %}
