{% extends 'base.html.twig' %}

{% block title %}Mise à jour du point de collecte{% endblock %}

{% block body %}
    <h1>Mise à jour du point de collecte</h1>

    {{ include('collection_point/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collection_point_index') }}">Retour à la liste de Point de Collecte</a>

    {{ include('collection_point/_delete_form.html.twig') }}
{% endblock %}
