{% extends 'base.html.twig' %}

{% block title %}New CollectionPoint{% endblock %}

{% block body %}
    <h1>Create new CollectionPoint</h1>

    {{ include('collection_point/_form.html.twig') }}

    <a href="{{ path('collection_point_index') }}">back to list</a>
{% endblock %}
