/* General */

@font-face {
    font-family: "DKMoonlightSerenade";
    src: url("../font/DKMoonlightSerenade.otf") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
body,
html {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.titre {
    border: 3px solid yellowgreen;
    /* background-color: white; */
    border-radius: 15px;
    padding: 15px;
    opacity: 80%;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px yellowgreen;
}

.lorem {
    border: 3px solid #6dbfb4;
    background-color: white;
    border-radius: 3px;
    width: 100%;
    padding: 15px;
    opacity: 90%;
}

h1 {
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'DKMoonlightSerenade', sans-serif;
}

h5 {
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'DKMoonlightSerenade', sans-serif;
}


/* p:hover {
    font-weight: bold;
} */

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

ul.icons {
    list-style: none;
    padding: none;
}

li {
    display: inline-block;
    font-family: 'DKMoonlightSerenade', sans-serif;
}

footer {
    background: linear-gradient(#6dbfb4, #e7dc19);
    background-size: cover;
    color: black;
    font-family: 'DKMoonlightSerenade', sans-serif;
}

footer .container {
    height: 100%;
}

footer .row div p,
footer .row div ul {
    margin: 0;
}

.label {
    font-family: 'DKMoonlightSerenade', sans-serif;
}


/* search bar */

.search {
    width: 500px;
    position: relative;
    opacity: 80%;
    border: 3px solid yellowgreen;
}

.searchTerm {
    width: 500px;
    border: 3px solid #1e6319;
    border-right: none;
    padding: 2px;
    height: 70px;
    background-color: white;
    outline: none;
    color: rgb(169, 192, 124);
    transition-delay: 2s;
    transition-property: background-color;
    transition-duration: 2s;
}

.searchButton {
    width: 90px;
    height: 70px;
    border: 3px solid yellowgreen;
    border-left: none;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/* button {
    font-family: 'DKMoonlightSerenade', sans-serif;
} */


/* .btn {
    font-family: 'DKMoonlightSerenade', sans-serif;
} */

.searchTerm:focus {
    color: green;
    /* letter-spacing: 2px; */
    font-family: 'Anton', sans-serif;
}

::placeholder {
    opacity: 80%;
    color: black;
    /* letter-spacing: 1px; */
    font-family: 'Anton', sans-serif;
}

::-ms-input-placeholder {
    /* IE 10+ */
    opacity: 50%;
    color: black;
    /* letter-spacing: 1px; */
    font-family: 'Anton', sans-serif;
}

::placeholder:hover {
    background-color: greenyellow;
}

.newobjet {
    margin-top: 70px;
    border: 3px solid yellowgreen;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    opacity: 90%;
    transition-delay: 2s;
    transition-property: background-color;
    transition-duration: 2s;
}

.newobjet:hover {
    background-color: hotpink;
}

main {
    min-height: calc(100vh - 64px - 15px);
    background-image: url(../img/backgroundmain.png);
    background-size: cover;
}


/* container index map */

#localisationContainer {
    min-width: 100vw;
    min-height: calc(100vh - 139px);
}


/* Blog-index */

h3 {
    font-family: 'DKMoonlightSerenade', sans-serif;
    font-style: italic;
}


/****** Isotop ******/

.grid-item {
    width: 25%;
}


/* media query */

@media screen and (max-width: 576px) {
    .search {
        width: 250px;
    }
    .searchTerm {
        width: 250px;
    }
}

@media screen and (min-width: 768px) {
    .search {
        width: 280px;
    }
    .searchTerm {
        width: 280px;
    }
}

@media screen and (min-width: 992px) {
    .search {
        width: 700px;
    }
    .searchTerm {
        width: 700px;
    }
    html {
        font-size: 1.5rem;
    }
    main {
        background-image: url(../img/backgroundmain.png);
        background-size: contain;
    }
}