{% extends 'base.html.twig' %}

{% block title %}Mise à jour de l'objet
{% endblock %}

{% block body %}
	<h1>Mise à jour de l'objet</h1>

	{{ include('objet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	<br>
	{{ include('objet/_delete_form.html.twig') }}
	<div class="row justify-content-center">
		<a href="{{ path('objet_index') }}">
			<button class="btn">Liste d'objets</button>
		</a>
	</div>
{% endblock %}
