{% extends 'base.html.twig' %}

{% block title %}
	Nouvel objet
{% endblock %}

{% block body %}

	<div class="container" style="padding-top:40px">
		<div>
			<h1>Créer un nouvel objet</h1>
			{% for message in app.flashes('invalid') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}

			{{ include('objet/_form.html.twig') }}

			<br>

			<div class="text-center">
				<a href="{{ path('objet_index') }}">
					<button type="submit" class="btn btn-sm">Liste d'objet</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
