{% extends 'base.html.twig' %}

{% block title %}Nouvel objet
{% endblock %}

{% block body %}
	<h1>Créer un nouvel objet</h1>
	{% for message in app.flashes('invalid') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{{ include('objet/_form.html.twig') }}

	<a href="{{ path('objet_index') }}">Retour à la liste</a>
{% endblock %}
