<form method="post" action="{{ path('blog_delete', {'id': blog.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette entrée?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
