{% extends 'base.html.twig' %}

{% block title %}Editer Blog{% endblock %}

{% block body %}
    <h1>Edit Blog</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('blog_index') }}">Retour à la liste</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}

{% block css %}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}

	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
	<script>
		$(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
    
{% endblock %}