{% extends 'base.html.twig' %}

{% block title %}Nouveau Tag{% endblock %}

{% block body %}
    <h1>Créer un tag</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('tag_index') }}">Retour à la liste</a>
{% endblock %}
